NODE_ENV=development
PORT=3001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=123456789

JWT_SECRET=supersecretjwtkey_change_in_production
JWT_EXPIRES_IN=1d

TMDB_API_KEY=your_tmdb_api_key_here
TMDB_BASE_URL=https://api.themoviedb.org/3
TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
TMDB_TIMEOUT_MS=5000
FRONTEND_URL=http://localhost:3000