NODE_ENV=development
PORT=3001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=123456789

JWT_SECRET=supersecretjwtkey_change_in_production
JWT_EXPIRES_IN=1d